/** Fonts **/

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

/** RESETS **/

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Space Mono", monospace;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/** MAIN **/

.main {
  padding: 1.5rem 1.5rem 0;

  margin-bottom: 8rem;

  .main__title {
    margin-bottom: 10rem;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
  }

  &__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .data__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    margin-bottom: 2rem;
  }

  .data__description {
    max-width: 380px;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: -0.035em;
    margin-bottom: 4rem;
  }

  .data_button {
    width: 216px;
    height: 68px;
    background: #333;
    color: #fff;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border: none;
  }
}

.footer {
  padding: 1.5rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;

  &__username {
    font-weight: bold;
    text-decoration: underline;
  }
}

@media (max-width: 760px) {
  .main {
    padding: 1.5rem 1.5rem 0;
    margin-bottom: 4rem;

    .main__title {
      margin-bottom: 4rem;
    }

    .main__data {
      grid-template-columns: 1fr;

      .data__title {
        font-size: 48px;
        line-height: 71px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.05em;
      }

      .data__description {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
